
.mycard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    border: none;
    border-radius: 0;
    height: 160px;
    background-color: rgba(255, 255, 255, 0.938);
    /* border: solid 2px rgb(192, 173, 136); */
}
.mycardbody {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.myname {
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    color: #212529;
}
svg {
    display: flex;
    justify-content: center;
    font: 10.5em 'Roboto Mono';
    width: 100%;
    margin: 0 auto;
}
.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 16% 12%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 3.0s 1 linear;
    /* animation-direction: alternate; */
    animation-fill-mode: backwards;
    /* animation-iteration-count: 1; */
}
.text-copy:nth-child(1){
	stroke: #497296e1;
    animation-delay: -1s;
}
.text-copy:nth-child(2){
	stroke: #184D6A;
	animation-delay: -2s;
}
.text-copy:nth-child(3){
	stroke: rgba(143, 118, 10, 0.699);
	animation-delay: -2s;
}
.text-copy:nth-child(4){
	stroke: rgb(19, 61, 78);
	animation-delay: -4s;
}
.text-copy:nth-child(5){
	stroke: #213b55;
	animation-delay: -5s;
}
@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}