
.mycard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    border: none;
    border-radius: 0;
    /* height: 300px; */
    width: auto;
    background-color: rgba(26, 35, 43, 0.918);
    /* box-shadow: 0px 0px 4px 2px rgba(235, 225, 180, 0.836); */
    padding: 10px;
    /* border-radius: 4px; */
    /* border: solid 1px rgba(223, 212, 162, 0.836); */
    z-index: 9999;
    
}
.profileImg {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid 4px white;
    
}
.sub-head-container {
    width: 100%;
    padding: 2px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.sub-name-heading {
    font-family: 'Roboto Mono', monospace;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 500;
    padding: 2px;
}
.sub-head-col {
    padding: 0px!important;
    float: left;
}

i:hover {
    cursor: pointer;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.down {
    border: solid rgba(176, 185, 187, 0.781);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 10px;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.mycardbody {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1px;
    /* border: double 3px rgba(127, 213, 219, 0.836); */
}
.myname {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: -18.0px;
}
svg {
    display: flex;
    justify-content: center;
    font: 10.5em 'Roboto Mono', 'monospace';
    /* height: 100px; */
    width: 100%;
    margin: 10px 10px 10px 10px;
    padding: 10px;
}
.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 16% 12%;
    stroke-width: 4px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 6.0s 1 linear;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    /* animation-iteration-count: infinite; */
}
.text-copy:nth-child(1){
	stroke: #e7d37677;
    animation-delay: -1s;
}
.text-copy:nth-child(2){
	stroke: rgb(133, 164, 180);
	animation-delay: -2s;
}
.text-copy:nth-child(3){
	stroke: rgba(219, 168, 73, 0.699);
	animation-delay: -2s;
}
.text-copy:nth-child(4){
	stroke: rgb(19, 61, 78);
	animation-delay: -4s;
}
.text-copy:nth-child(5){
	stroke: #dfd0b1;
	animation-delay: -3s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

/* for top sub header, stack columns */
@media screen and (max-width: 768px) {
    .sub-head-container {
        flex-direction: column;
    }
    .sub-head-col {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    svg {
        display: flex;
        justify-content: center;
        font: 200px 'Roboto Mono', 'monospace';
        /* height: 100px; */
        width: 100%;
        /* margin: 10px 10px 10px 10px; */
        /* padding: 10px; */
    }
    .text-copy {
        fill: none;
        stroke: white;
        stroke-dasharray: 16% 12%;
        stroke-width: 3px;
        stroke-dashoffset: 0%;
        animation: stroke-offset 6.0s 1 linear;
        animation-direction: alternate;
        animation-fill-mode: backwards;
        /* animation-iteration-count: infinite; */
    }
    .myname {
        font-family: 'Roboto Mono', monospace;

        letter-spacing: -18.0px;
    }
}